<div class="page-header">
  <%= link_to 'New message', new_message_path, :class => 'btn btn-primary pull-right' %>
  <h1>Messages</h1>
</div>

<table class="table table-striped">
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.sender.name %>: <%= message.body %></td>
        <td>
          <%= link_to 'Read', "messages/#{message.sender.id}/with", :class => 'btn btn-mini btn-primary' %>
          <% if message.sender != current_user && !message.read? && false # TODO %>
            <%= link_to 'Mark read', message, method: :show, :class => 'btn btn-mini' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
