<%- model_class = User -%>

<% if !user_signed_in? %>
  <div class="hero-unit">
    <h1>Never Smash Alone</h1>
    <p>Meet up with other Super Smash Brothers players in your area and never Smash alone again.</p>
    <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary btn-large' %>
    <%= link_to 'Log in', new_user_session_path, :class => 'btn btn-large' %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:latitude) %></th>
      <th><%= model_class.human_attribute_name(:longitude) %></th>
      <% if current_user %>
        <th><%= t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.latitude %></td>
        <td><%= user.longitude %></td>
        <% if current_user %>
          <td>
            <% if current_user != user %>
              <%= link_to 'Message',
                  new_message_path(:to => user),
                  :class => 'btn btn-mini btn-info' %>
            <% end %>
            <% if current_user.is_admin %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_user_path(user), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          user_path(user),
                          :method => :delete,
                          :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                          :class => 'btn btn-mini btn-danger' %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
